.fullwidth_inner {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 20px; /* Adds space between cards */
}


.blog-category-card {
    min-width: 300px; /* Ensures a minimum width for each card */
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-shrink: 0; /* Prevents the card from shrinking */
}

.blog-category-card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.blog-category-card h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.blog-category-card p {
    font-size: 1em;
    margin-bottom: 10px;
}

.cta_btn {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: yellow;
    text-decoration: none;
    border-radius: 4px;
}
